* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "PingFang SC", 'Segoe UI', "DengXian Regular", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.viewport {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

@supports (-webkit-alt: "") {
    .viewport {
        min-height: -webkit-fill-available;
        max-height: -webkit-fill-available;
    }
}

.top-bar {
    border-bottom: 1px solid #aaa;
    padding: 5px;
    display: flex;
    background-color: rgb(221, 221, 221);
    box-shadow: 0 2px 5px 0 rgb(221, 221, 221);
}

.site-title {
    font-size: 1em;
    display: flex;
    align-items: center;
}

.container {
    flex: 1;
    /* display: grid;
    grid-template-columns: 320px auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
}

.files-pane {
    border-right: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-width: 320px;
    min-width: 320px;
}

.file-list {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    box-shadow: 0 2px 5px 0 rgb(221, 221, 221);
    z-index: 1;
}

.bottom-bar {
    display: flex;
}

.search-input-container {
    flex: 1;
}

.search-input {
    width: 100%;
    font-size: 1em;
    border: 0;
    border: 1px solid #aaa;
    outline: 0;
    padding: 5px;
}

.quick-operations {
    display: flex;
}

.controls {
    cursor: pointer;
}

.controls:hover {
    background-color: #ccc;
}

.controls:active {
    background-color: #aaa;
}

.controls.control-button:hover {
    background: linear-gradient(0deg, rgb(230, 230, 230), rgb(242, 242, 242));
}

.controls.control-button:active {
    background: linear-gradient(180deg, rgb(212, 212, 212), rgb(230, 230, 230));
}

.quick-notes, .files-upload {
    padding: 3px;
    border: 1px solid #aaa;
    border-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.files-upload {
    border-right: 0;
}

.icon-controls {
    width: 20px;
    height: 20px;
}

.file-entry {
    color: #333;
    padding: 0 5px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 2px;
}

.file-name {
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.file-name-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

.file-name-lock {
    max-height: 1em;
    min-height: 1em;
    image-rendering: pixelated;
    padding-right: 5px;
}

.file-name-title {
    overflow-wrap: anywhere;
}

.tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ac-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.selected {
    background: linear-gradient(180deg, rgb(2, 95, 241), rgb(2, 81, 228));
    color: white;
}

.selected:hover {
    background-color: rgb(39, 105, 227);
    color: white;
}

.tag {
    display: inline-block;
    background-color: rgba(0, 141, 229, 0.147);
    border: 1px solid rgb(2, 142, 241);
    font-size: 0.8em;
    margin-right: 0.2em;
    margin-bottom: 2px;
    padding: 0 5px;
    font-weight: bold;
    border-radius: 8px;
}

.user {
    background-color: rgba(215, 114, 5, 0.147);
    border: 1px solid rgb(215, 144, 5);
}

.clickable-tag {
    display: inline-flex;
    font-size: 0.8em;
    margin-right: 0.2em;
    margin-bottom: 3px;
    border-radius: 8px;
    background-color: rgb(2, 142, 241);
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 1px 3px 1px #00000022;
    cursor: pointer;
}

.clickable-tag.user {
    background-color: rgb(215, 144, 5);
    border: 0;
}

.clickable-tag-tag {
    border-radius: 8px;
    background-color: rgb(227, 238, 250);
    padding: 1px 5px;
}

.clickable-tag.user > .clickable-tag-tag {
    background-color: rgb(247, 235, 224);
}

.clickable-tag-occurance {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 2px;
    font-weight: bold;
    padding-right: 4px;
    color: white;
}

.clickable-tag:hover {
    filter: brightness(0.9);
}

.clickable-tag:active {
    filter: brightness(0.5);
}

.file-type {
    background-color: rgba(84, 84, 84, 0.147);
    border: 1px solid rgb(84, 84, 84);
}

.invisible {
    background-color: unset;
    border: unset;
    padding: 0;
    box-shadow: unset;
}

.has-preview {
    display: grid;
    grid-template-columns: 50px auto;
}

.file-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.preview-image {
    width: 100%;
    height: auto;
}

.preview-canvas {
    width: 100%;
}

.top-operations {
    flex: 1;
    display: flex;
    justify-content: end;
}

.control-button {
    user-select: none;
    border: 1px solid #aaa;
    padding: 1px 3px;
    border-radius: 1px;
    font-size: 0.9em;
    box-shadow: 0 1px 0 0 rgba(232, 232, 232);
    margin-right: 3px;
    color: black;
    text-decoration: none;
    background: linear-gradient(0deg, rgb(235, 235, 235), rgb(254, 254, 254));
}

.control-button:active {
    box-shadow: unset;
    background: linear-gradient(180deg, rgb(235, 235, 235), rgb(254, 254, 254));
    transform: translateY(1px);
}

.with-icon {
    display: grid;
    grid-template-columns: 22px auto;
    padding: 3px 3px;
}

.inline-control-button {
    display: inline-flex;
    align-items: center;
}

.inline-control-button > img {
    height: 1em;
}

.info-pane-container {
    position: relative;
    display: flex;
    flex: 1;
}

.info-pane {
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: -3px 0 3px #00000022;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(240, 240, 240), rgb(254, 254, 254));
    position: relative;
}

.info-pane-handle {
    position: absolute;
    z-index: 50;
    width: 40px;
    height: 16px;
    left: calc(50% - 20px);
    bottom: -8px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #aaa;
    color: #aaa;
    box-shadow: 0 3px 3px 0 #33333399;
    font-size: 12px;
    cursor: ns-resize;
}

.big-image-preview {
    padding-top: 5px;
    width: 100%;
}

.preview-container {
    padding-top: 5px;
    width: 100%;
}

.markdown-preview {
    padding: 5px;
    max-width: 720px;
}

.big-image-preview > img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50vh;
}

.big-image-preview > video {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50vh;
}

.file-operations {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    /* border: 1px solid #aaa;
    background-color: white; */
}

.sticky {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
}

.sticky-bottom {
    position: sticky;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.info-pane-operations-container {
    padding: 2.5px 0;
}

.notes-area-container {
    padding: 2.5px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.info-pane-operations {
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 5px;
}

.info-pane-pairs {
    display: flex;
    align-items: center;
    padding: 2.5px 0;
}

.info-pane-pairs-align-start {
    display: flex;
    align-items: start;
    padding: 2.5px 0;
}

.info-pane-label {
    color: #333;
    font-weight: bold;
    padding-right: 5px;
}

.info-pane-input {
    display: flex;
    flex: 1;
}

.info-pane-input > * {
    flex: 1;
}

.info-pane-tags-input {
    font-size: 1em;
    border: 0;
    border: 1px solid #aaa;
    outline: 0;
    padding: 5px;
}

.disabled {
    background-color: #ccc;
    pointer-events: none;
}

.disabled:hover {
    background-color: #ccc;
    color: unset;
}

.info-pane-table-container {
    padding: 5px 0;
}

.info-pane-table {
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 5px;
    display: inline-grid;
    grid-template-columns: 100px auto;
}

.info-pane-checkbox {
    display: flex;
    flex-wrap: wrap;
}

.radio-option {
    margin-right: 5px;
    padding: 0 5px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

.container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.control-button-row {
    margin-right: 0;
    margin-top: 3px;
}

.control-button-tight {
    margin-bottom: 5px;
}

.test-operations {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}

.superposition-window {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
}

.superposition-info-window {
    max-width: 300px;
    background-color: white;
    border: 1px solid #aaa;
    padding: 5px;
    z-index: 1;
}

.superposition-file-queue-window {
    border: 1px solid #aaa;
    background-color: white;
    max-width: 300px;
    padding: 5px;
    margin-bottom: 5px;
    z-index: 1;
}

.completion-window {
    background-color: rgb(240, 240, 240);
    border: 1px solid #aaa;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    padding: 5px;
    overflow: hidden;
    max-height: 100px;
    overflow-y: auto;
    min-height: 70px;
}

.ac-tags-list {
    padding-top: 5px;
}

.padding-top-5px {
    padding-top: 5px;
}

.gray {
    color: gray;
}

.progress-bar {
    height: 1.5em;
    border: 1px solid #009c24;
    width: 100%;
}

/* CodeMirror */
.cm-editor .cm-content {
    font-family: "SF Mono", "Consolas", 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}

.cm-editor {
    border: 1px solid #aaa;
    flex: 1;
}

.cm-editor.cm-focused {
    border: 1px solid #777;
    outline: 0;
}

.cm-gutters {
    display: none !important;
}

@keyframes gradient {
    0% {
        background: #2feb5a;
    }

    50% {
        background: #009c24;
    }

    100% {
        background: #2feb5a;
    }
}

.progress-block {
    background: linear-gradient(0deg, #2feb5a, #009c24);
    height: 100%;
    display: inline-block;
    animation: gradient 10s infinite;
    transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.drag-active {
    background-color: #ccc;
}

.upload-queue {
    border: 1px solid #aaa;
}

.upload-entry {
    padding: 0 3px;
    position: relative;
    white-space: nowrap;
    overflow: hidden
}

.upload-entry:nth-child(even) {
    background-color: white;
}

.upload-entry:nth-child(odd):not(.first) {
    background-color: #ccc;
}

.upload-entry-progress {
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    background-color: #009c24;
    /* filter: invert(1); */
    padding: 0 3px;
    color: white;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.hidden {
    display: none !important;
}

.inactive {
    filter: saturate(0%);
}

.flex-1 {
    flex: 1;
}

.invert {
    transform: rotate(180deg);
}

.markdown-preview > h1,
.markdown-preview > h2,
.markdown-preview > h3,
.markdown-preview > h4,
.markdown-preview > h5 {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

.markdown-preview > h1:first-child,
.markdown-preview > h2:first-child,
.markdown-preview > h3:first-child,
.markdown-preview > h4:first-child,
.markdown-preview > h5:first-child {
    padding-top: 0;
    padding-bottom: 1em;
}

.markdown-preview code {
    line-height: 1.2em;
    font-family: "SF Mono", "Menlo", "Consolas", "Roboto Mono", "Source Code Pro", 'Courier New', Courier, monospace;
}

.markdown-preview > pre {
    overflow-x: auto;
    padding: 5px 0;
}

.markdown-preview > pre {
    padding-bottom: 0.5em;
}

.markdown-preview {
    line-height: 1.5em;
}

.markdown-preview img {
    max-width: 100%;
    max-height: 50vh;
}

ul {
    padding-left: 20px;
}

ol {
    padding-left: 20px;
    list-style: decimal;
}

ul ul {
    list-style: disc;
}

ul ul ul {
    list-style: circle;
}

ul ul ul ul {
    list-style: square;
}

ul ul ul ul ul {
    list-style: disc;
}

ul ul ul ul ul ul {
    list-style: circle;
}

.markdown-preview > ul {
    list-style: square;
    padding-bottom: 1em;
}

.markdown-preview > ul > li {
    display: list-item;
}

.markdown-preview > p {
    padding-bottom: 1em;
}

mjx-container {
    overflow-x: auto;
}

.note-crossref {
    display: inline-flex;
    align-items: center;
    border: 1px solid #aaa;
    padding: 0 5px;
    text-decoration: none;
    color: #111;
    background-color: #fefefe;
}

.crossref-label {
    padding-left: 5px;
}

@media screen and (max-width: 645px) {
    .container {
        flex-direction: column-reverse;
    }
    
    .files-pane {
        min-width: unset;
        max-width: unset;
        flex-direction: column;
    }

    .info-pane-container {
        min-height: 50vh;
        max-height: 50vh;
    }

    .file-name {
        font-size: 0.8em;
        padding-top: 0;
        padding-right: 20px;
    }

    .tags {
        flex: 1;
        justify-content: end;
        flex-wrap: nowrap;
        white-space: nowrap;
    }

    .tag {
        margin: 0;
        margin-right: 3px;
    }

    .file-info {
        display: flex;
        align-items: center;
    }

    .file-entry {
        padding: 3px 3px;
    }

    .info-pane {
        border-bottom: 1px solid #aaa;
        box-shadow: 0 3px 6px 0 #33333399;
    }

    .invisible {
        display: none;
    }

    .top-operations > .controls > div {
        display: none;
    }

    .top-operations > .controls {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    .tag {
        margin-right: 0;
        margin-left: -12px;
        max-width: 30px;
        overflow: hidden;
        box-shadow: -3px 0 3px #00000022;
        background-color: rgb(227, 238, 250);
        position: relative;
    }

    .user {
        background-color: rgb(247, 235, 224);
    }

    .selected > .file-info > .tags {
        color: black;
    }

    .mobile {
        padding-left: 5px;
        display: inline-block !important;
    }

    .file-name-title {
        font-size: 1em;
    }
}

@media screen and (min-width: 1080px) {
    .big-screen-h-center {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 646px) {
    .info-pane-handle {
        display: none;
    }
}
